body{
    margin:0 auto;
    width:1024px;
}

.btn-header{
    float: left;
    margin-left:508px;
    
    margin-top:20px;
}

.contact-header{
    font-family: MS PGothic;
    display:block;
    width:430px;
    height:86px;
    font-size:30px;
    color: black;
    text-align:center;
    line-height:86px;
    background:#A3D8EC;
    border-radius:30px;
    border: 2.8px solid #1137B7;
    box-shadow:0 3px 8px #000000;
    cursor: pointer; 
    padding:0;
    position:fixed;
    z-index: 100;
    outline: none;
    
}

.contact-header a {
    text-decoration:none;
    color: #ffffff;
}

.contact-header:hover{
    opacity: .8;
    transform: scale(1.1, 1.1);
}

.logo-header{
    float: left;
    margin-top:0px;
    margin-left:955px;
}

.logo-img {
    display:block;
    width:64px;
    height:62px;
}
.title-header{
    display:block;
    width:51px;
    height:11px;
    margin: 7px auto;
}

.img-header01{
    position: relative;
}

.img-header{
 margin-top:73px;  
 margin-left:79px;
 margin-right:18px;
 width:754px;
 height:419px;

}

.img-nepal{
    width:327px;
    height:136px;
    z-index: 50;
    top:310px;
    left:680px;
    position: absolute;
}

.contact-header02{
    font-family: MS PGothic;
    display:block;
    width:336px;
    height:99px;
    font-size:30px;
    color: black;
    text-align:center;
    line-height:86px;
    background:#A3D8EC;
    border-radius:40px;
    border: 2.8px solid #1137B7;
    box-shadow:0 3px 8px #000000;
    cursor: pointer; 
    padding:0;
    outline: none;
    top:510px;
    left:680px;
    position: absolute;
}

.contact-header02:hover{
    opacity: .8;
    transform: scale(1.1, 1.1);
}

.title01{
    margin-top:181px;
    margin-left:45px;
}

.title01 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.text-title01{
    display:block;
    margin-top:56px;
}

.video-title01{
    position: relative;
    display:block;
    margin-top:107px;
}

.video-description {
    z-index: 10;
    position: absolute;
    top:248px;
    left:300px;
    margin:0;
    font-size:65px;
}

.description01-title01{
    font-size:30px;
    font:#1E1E1E;
    font-family:MS PGothic;
    line-height:36px;
    text-align: left;
    text-shadow: 0px 1px 3px #000000;
    width:924px;
    margin-left:0px;
}

.title02{
    margin-top:181px;
    margin-left:45px;
}

.title02 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title02{
 margin-top:50px;
}

.img-title02 img{
    width:1024px;
}

.title03{
    margin-top:91px;
    margin-left:45px;
}

.title03 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title03{
    margin-top:146px;
    margin-left:45px;
   }

.nepal-title03{
    margin-top:100px;
    margin-left:45px;
} 

.nepal-title03 p {
    font-size:60px;
    text-align: center;
    margin:0;
}

.nepal-title03 span{
 color:#9A223A;
}

.bracket-title03{
    display:block;
    margin-left:750px;
}

.img02-title03{
    margin-top:100px;
    margin-left:45px;
}

.nepal-description{
    margin-top:70px;
    margin-left:50px;
}

.nepal-description02{
    margin-left:0px;
}


.nepal-description02 span{
    margin-left:40px;
}

.nepal{
 float: left;
 width:708px;
}

.bracket-nepal{
    margin-left:400px;
}

.photo-title03{
    float: left;
    margin-top:260px;
    margin-left:0px;
    position: relative;
}
.photo-title03 p{
    position: absolute;
    top:150px;
    left:120px;
    font-size:40px;
}

.title04{
    clear:left;
    padding-top:216px;
    margin-left:45px;
}

.title04 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title04{
    margin-top:50px;
    margin-left:45px;
}

.title05{
    margin-top:80px;
    margin-left:45px;
}

.title05 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title05{
    margin-top:50px;
    margin-left:45px;
}

.language-title05{
    font-size:35px;
    margin-top:72px;
    margin-left:45px;
}

.img-language{
    margin-left:156px;
    margin-right:156px;
   
}

.title06{
    margin-top:80px;
    margin-left:45px;
}

.title06 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title06{
    margin-top:50px;
    margin-left:45px;
}

.title07{
    margin-top:80px;
    margin-left:45px;
}

.title07 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title07 {
    margin-top:60px;
    margin-left:100px;
}

.img2-title07 {
    margin-top:60px;
    margin-left:100px;
}

.title08{
    margin-top:80px;
    margin-left:45px;
}

.title08 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.contact-title08{
    margin-left:45px;
    /* margin-right:56px; */
    margin-top:50px;
    width:968px;
    /* width:100%; */
}

.contact-title08 p{
    margin-top:20px;
    margin-bottom: 0;
    width:268px;
}

.contact-title08 span{
    color:red;
}

.name{
    float:left;
    width:50%;
}

.name input{
    width:350px;
    height:25px;
}


.company-name{
    float:left;
    width:50%;
}
.company-name p{
    width:100px;
}


.company-name input{
    width:350px;
    height:25px;
}

.position{
    display:block;
    clear:left;
}

.position p{
    padding-top:30px;
}

.position input{
    width:350px;
    height:25px;
}

.mail-address {
    padding-top:20px;
}

.mail-address input{
    width:900px;
    height:25px;
}


.phonenumber input{
    width:900px;
    height:25px;
}

.message-form textarea{
    width:900px;
    height:225px;
}

footer{
    margin-top:130px;
    padding:0 auto;
   
}

footer img{
    display: block;
    margin:0 auto;
}


@media screen and (max-width: 768px){

    body{
        margin: 0 auto;
        width: 320px;
    }

.contact-header{
    font-size:7px;
    width:109px;
    height:21px;
    line-height:7px;
    box-shadow:0 1.5px 4px #000000;
    border: 0.7px solid #1137B7;
    
}

.title-header{
    display:block;
    width:11px;
    height:2px;
    margin: 1px auto;
}

.btn-header{
    margin-left:187px;
}

.logo-header{
    float: left;
    margin-top:0px;
    margin-left:301px;
    
}

.logo-img {
    display:block;
    width:14px;
    height:13px;
    
}


.img-header{
    margin-top:18px;  
    margin-left:11px;
    margin-right:11px;
    width:192px;
    height:107px;
   }

 .img-nepal{
    width:109px;
    height:45px;
    position: absolute;
    top:85.5px;
    left:200px;
 }  
   

 .contact-header02{
    width:117px;
    height:25px;
    font-size:7px;
    line-height:7px;
    position: absolute;
    top:135.5px;
    left:200px;
    border: 1.8px solid #1137B7;
    box-shadow:0 2px 4px #000000;
 }

   .title01{
       margin-top:48px;
       margin-left:29px;
   }

   .title01 pre{
    margin-top:48px;
    margin-left:37px;
    font-size:15px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 5px solid #3498db;
    width:260px;
    height:18px;
    margin:0;
}

.text-title01{
    display:block;
    margin-top:3px;
    width:241px;
    height:168px;
}

.video-title01{
    position: relative;
    display:block;
    margin-top:32px;
}
.video-title01 img{
    width:210px;
    height:175px;
}

.video-description {
    z-index: 10;
    position: absolute;
    top:62px;
    left:62px;
    margin:0;
    font-size:20px;
}

.description01-title01 {
    width:906px;
    font-size:8px;
    line-height:10px;
    text-shadow: 0px 1px 3px #000000;
    width:320px;
    text-align: center;
    margin-left:-25px;
}

.title02{
    margin-top:40px;
    margin-left:30px;
}

.title02 pre{
    font-size:15px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 5px solid #3498db;
    height:18px;
    margin:0;
}

.img-title02{
 margin-top:24px;
 margin-left:16px;
 
}

.img-title02 img{
 width:289px;
 height:169px;
}

.title03{
    margin-top:40px;
    margin-left:30px;
}

.title03 pre{
    font-size:15px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 5px solid #3498db;
    height:38px;
    margin:0;
}

.img-title03{
    margin-top:11px;
    margin-left:24px;
   }

 .img-title03 img{
    width:252px;
    height:200px;
 }

.nepal-title03{
    margin-top:100px;
    margin-left:245px;
} 

.nepal-title03 p {
    font-size:60px;
    text-align: center;
    margin:0;
}

.nepal-title03{
    margin-top:10px;
    margin-left:45px;
} 

.nepal-title03 p {
    font-size:15px;
    text-align: center;
    margin:0;
}

.nepal-title03 span{
 color:#9A223A;
}

.bracket-title03{
    display:block;
    margin-left:250px;
    width:30px;
    height:20px;
}

.nepal-title03 img{
    width:30px;
    height:20px;
}

.img02-title03{
    margin-top:40px;
    margin-left:25px;
}

.img02-title03 img{
    width:271px;
    height:120px;
}


.nepal-description{
    margin-top:24px;
    margin-left:20px;
    
}
.nepal-description img{
    width:30px;
    height:20px;
    display: block;
}


.nepal-description02{
    margin-left:25px;
    height:180px;
    display: block;
}

.nepal-description02 img{
    height:150px;
    width:120px;
    display: block;
}
.nepal-description02 span img{
    height:40px;
    width:120px;
    display: block;
    margin-top:-25px;
}

.nepal{
    float: left;
    width:180px;
   }
   
   .bracket-nepal {
       margin-top:0;
       margin-left:130px;
       width:30px;
       height:20px;
   }
  
   .photo-title03{
    margin-top:80px; 
    margin-left:0;
}
.photo-title03 p{
    position: relative;
    top:45px;
    left:35px;
    font-size:10px;
}

.photo-title03 img{
    position: absolute;
    width:98px;
    height:115px;
}

.title04{
    clear:left;
    padding-top:44px;
    margin-left:30px;
}

.title04 pre{
    font-size:15px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 5px solid #3498db;
    height:18px;
    margin:0;
}

.img-title04{
    margin-top:19px;
    margin-left:43px;
}

.img-title04 img{
    width:234px;
    height:132px;
}

.title05{
    margin-top:30px;
    margin-left:30px;
}

.title05 pre{
    font-size:15px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 5px solid #3498db;
    height:18px;
    margin:0;
}

.img-title05{
    margin-top:21px;
    margin-left:23px;
    width:274px;
    height:155px;
}

.language-title05{
    font-size:10px;
    margin-top:21px;
    margin-left:40px;
}

.img-language{
    margin-left:57px;
    width:220px;
    height:211px;
}




.title06{
    margin-top:30px;
    margin-left:30px;
}

.title06 pre{
    font-size:15px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 5px solid #3498db;
    height:18px;
    margin:0;
}

.img-title06{
    margin-top:14px;
    margin-left:27px;
    width:267px;
    height:191px;
}

.title07{
    margin-top:30px;
    margin-left:30px;
}

.title07 pre{
    font-size:15px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 5px solid #3498db;
    height:18px;
    margin:0;
}

.img-title07 {
    margin-top:17px;
    margin-left:44px;
    width:229px;
    height:331px;
}

.img2-title07 {
    margin-top:0;
    margin-left:44px;
    width:229px;
    height:231px;
}

.title08{
    margin-top:30px;
    margin-left:30px;
}

.title08 pre{
    font-size:15px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 5px solid #3498db;
    height:18px;
    margin:0;
}


.contact-title08{
    margin-left:53px;
    margin-top:30px;
    width:227px;
}

.contact-title08 p{
    margin-top:5px;
    margin-bottom: 0;
    font-size:8px;

}

.contact-title08 span{
    color:red;
}

.name{
    float:left;
    width:50%;
}

.name input{
    width:80px;
    height:8px;
}


.company-name{
    float:left;
    width:50%;
    
}

.company-name input{
    width:80px;
    height:8px;
}

.position{
    display:block;
    clear:left;
}

.position p{
    padding-top:10px;
}

.position input{
    width:80px;
    height:8px;
}

.mail-address {
    padding-top:5px;
}

.mail-address input{
    width:200px;
    height:8px;
}

.phonenumber input{
    width:200px;
    height:8px;
}

.message-form textarea{
    width:200px;
    height:80px;
}

footer{
    margin-top:26px;
    padding:0 auto;
    width:320px;
}

footer img{
    width:122px;
    height:14px;
    display: block;
    margin:0 auto;
}

